
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #f0f0f0;
  }
  
  i {
    margin-right: 10px;
  }
  


  .card * {
  box-sizing: border-box;
}

.li-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--clr);
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
}

.li-soc:hover {
  opacity: 0.7;
}

/*card*/
.card {
    --main-color: #fff;
    --submain-color: #ccc;
    --bg-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
  }
  
  .card__img {
    height: 192px;
    width: 100%;
  }
  
  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }
  
  .img {
    max-width: 100%;
    max-height: 100%;
    /* Choose your preferred object-fit: */
    object-fit: cover;  /* Scales to cover, potentially cropping */
    /* object-fit: contain;   /* Scales to fit within, potentially leaving space */
    /* object-fit: scale-down;  /* Scales down to fit, maintaining aspect ratio */
  }
  
  
  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }
  
  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }


/*Boton*/
.button {
    display: flex;
    background-color: #0A66C2;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
  }
  
  .button svg {
    height: 30px;
  }
  
  .button:hover {
    box-shadow: none;
  }